*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
    --poppins-700: 'Poppins', sans-serif;
    --open-sans-400-600-700: 'Open Sans', sans-serif;
}
a{
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: .5em;
}
header img{
    width: 30%;
    object-fit: contain;
}
header a{
    border: 1px solid hsl(322, 100%, 66%);
    border-radius: 50px;
    padding:.3em 1em;
    font-size: 12px;
    font-family: var(--open-sans-400-600-700);
    font-weight: 400;
    color: var(--pink);
}

.section-one{
    margin-top: 5em;
    text-align: center;
}
.section-one h1{
    font-family: var(--poppins-700);
    font-weight: 700;
    padding: .5em 1em;
}

.section-one p{
    font-family: var(--open-sans-400-600-700);
    font-weight: 400;
    padding: .3em 1em;
    margin-bottom: 2.5em;
}
.section-one a{
    font-family: var(--open-sans-400-600-700);
    font-weight: 600;
    background-color: var(--pink);
    color: white;
    padding: 1em 2.5em;
    font-size: 12px;
    border-radius: 20px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.151);
}

.section-one img{
    margin-top: 5em;
    width: 90%;
}

.testimonials img{
    width: 8%;
    margin-right: 5em;
    margin-top: 2em;
    
}
.testimonials h1{
    font-family: var(--open-sans-400-600-700);
    font-weight: 700;
    font-size: 48px;
    padding: 0;
}
.testimonials p{
    color: var(--very-dark-cyan) ;
    font-family: var(--open-sans-400-600-700);
    font-weight: 400;
    font-size: 12px
}

.section{
    text-align: center;
    display: flex;
}
.section img{
    display: flex;
    width: 80%;
    margin: auto;
}

.section h2{
    font-family: var(--poppins-700);
    font-weight: 700;
    font-size: 22px;
    padding-top: 3em;
}
.section p{
    font-family: var(--open-sans-400-600-700);
    color: var(--very-dark-cyan);
    font-weight: 400;
    font-size: 14px;
    padding: 1em 2em;
    line-height: 1.5em;
}

.grow-together{
    /*padding: 6em 0em 3em 0em;*/
    padding: 27% 0% 13% 0%;
    background-image: url(images/bg-section-top-mobile-1.svg), url(images/bg-section-bottom-mobile-1.svg);
    background-repeat:  no-repeat, no-repeat;
    background-position-y: top, bottom;
    background-size: contain;

}

.bg1{
    background-color: var(--very-pale-blue);
    padding: 3em 0;
}

.flowing-conversations{
    margin: 7em 0em;
}

.your-users{
    /*padding: 6em 0em 6em 0em;*/
    padding: 27% 0% 25% 0%;
    background-image: url(images/bg-section-top-mobile-2.svg), url(images/bg-section-bottom-mobile-2.svg);
    background-repeat:  no-repeat, no-repeat;
    background-position-y: top, bottom;
    background-size: contain;

}
.bg3{
    background-color: var(--very-pale-blue);
    padding: 3em 0;
}

/* SECTION THREE*/

.ready{
    padding-top: 2em;
    text-align: center;
    width: 90%;
    margin: auto;

}

.ready h2{
    font-family: var(--poppins-700);
    font-weight: 700;
    padding-bottom: 1.5em;
}

.ready a{
    font-family: var(--open-sans-400-600-700);
    font-weight: 600;
    background-color: var(--pink);
    color: white;
    padding: .8em 2.5em;
    font-size: 12px;
    border-radius: 20px;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.151);
    width: max-content;

}


.section-four {
    margin-top: 5em;
    padding-top: 13%;
    background-image: url(images/bg-footer-top-mobile.svg);
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;

}
.bg4{
    padding-top: 2em;
    background-color: var(--very-dark-cyan);
}

.newsletter{
    padding: 0em 1.8em;
}
.newsletter h3{
    font-family: var(--open-sans-400-600-700);
    font-weight: 600;
    font-size: 20px;
}
.newsletter p{
    padding: 1em 0em;
    line-height: 1.8em;
    font-family: var(--open-sans-400-600-700);
    font-weight: 400;
    font-size: 15px;
}
form{
    display: flex;
    flex-direction: column;
}
#email{
    padding: .8em 2em;
    font-size: 14px;
    border-style: none;
    border-radius: 5px;
    margin-bottom: 1em;
}
#submit{
    align-self: end;
    max-width: max-content;
    padding: .8em 1.5em;
    background-color: var(--pink);
    border-style: none;
    color: white;
    border-radius: 3px;
    font-family: var(--open-sans-400-600-700);
    font-weight: 400;
}
footer{
    padding: 4em 1.8em 2em 1.8em;
    
    
}
footer .logo{
    filter: grayscale(1) brightness(10);
    width: 50%;
}

footer p{
    padding: 1em 0em;
    line-height: 1.8em;
    font-family: var(--open-sans-400-600-700);
    font-weight: 400;
    font-size: 15px;
}
.contact{
    display: flex;
}
.contact img{
    width: 25px;
    height: auto;
    object-fit: contain;
    padding-right: .3em;
}
.contact p{
    padding: .5em;
}
.icons ion-icon{
    color: var(--very-dark-cyan);
    border: .2px solid white;
    background-color: white;
    border-radius: 3px;
    width: 20px;
    height: 20px;
    margin-right: .5em;
    margin-top: 2em;
}

.attribution a{
    color: var(--pink);
}

.attribution{
    margin-top: 2em;
}

@media screen and (min-width: 992px){
    header{
        padding: 2em;
    }
    header img{
        width: 20%;
    }
    header a{
        font-size: 12px;
        padding:.5em 2em;
        align-self: center;
    }
    header a:hover{
        color: var(--light-pink);
        border-color: var(--light-pink);
    }
    .section-one h1{
        font-size: 42px;
    }
    .section-one p{
        padding: .3em 30em;
        font-size: 14px;
        margin-bottom: 4em;
    }
    .section-one a{
        padding: 1.5em 4em;
        border-radius: 50px;
    }
    .section-one a:hover{
        background-color: var(--light-pink);
    }

    .section-one img{
        display: flex;
        width: 60%;
        margin: auto;
        margin-top: 7em;
    }
    .testimonials-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 40%;
        margin: auto;
        margin-top: 4em;
       
    }
    .testimonials p{
        padding: 0;
    }
    
    .testimonials img{
        margin: 0;
        width: 15%;         
    }
    .testimonials h1{
        font-size: 4em;
    }
    .grow-together{
        background-image: url(images/bg-section-top-desktop-1.svg), url(images/bg-section-bottom-desktop-1.svg);
        padding: 9em 0em 7em 0em;
        padding: 10% 0% 7% 0%;
        
    }
    .bg1, .bg3, .bg2{
        background-color: var(--very-pale-blue);
        padding:3em 5em 3em 8em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 1em;
    
    }
    .bg2{
        background-color: white
    }
   
    .bg1 img, .bg3 img{
        grid-column: 2/3;
        grid-row: 1/3;
    }
    .section h2{
        font-size: 3em;
        text-align: start;
        justify-self: start;
        align-self: flex-end;
    }
    .section p{
        align-self: flex-start;
        text-align: start;
        align-self: flex-start;
        justify-self: start;
        padding: 0em 3em 0em 0em;
        font-size: 1em;
    }
    .grow-together h2, .your-users h2{
        grid-column: 1/2;
        grid-row: 1/2;

    }
    .grow-together p, .your-users p{
        grid-column: 1/2; 
    }

    .your-users{
        background-image: url(images/bg-section-top-desktop-2.svg), url(images/bg-section-bottom-desktop-2.svg);
        /*padding: 9em 0em 8em 0em; */
        padding: 10% 0% 8% 0%;
    }
    .bg2 img{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .flowing-conversations{
        margin: 0;
    }
    .flowing-conversations h2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .flowing-conversations p{
        grid-column: 2/3;
    }
    .ready a{
        padding: 1em 4em;
    }
    .ready a:hover{
        background-color: var(--light-pink);
    }

    .section-four{
        background-image: url(images/bg-footer-top-desktop.svg);
        padding-top: 10.5%;
    }
    .bg4{
        padding-top: 2em;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: auto;
        padding: 5em;
        gap: 10em;
    }

    .newsletter{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    footer{
        grid-column: 1/2;
        grid-row: 1/2;
        padding-top: 0;
    }
    .bg4 p{
        font-size: 1em;
        padding-right: 5em;
    }
    ion-icon:hover{
        background-color:rgb(0, 140, 255);
        border-color: rgb(0, 140, 255);
    }
    form{
        display: flex;
        flex-direction: row;
        margin-top: 2em;
    }
    #email{
        margin: 0;
        padding-right: 8em;
        margin-right: 2em;
    }
    #submit{
        border-radius: 5px;
        font-family: var(--open-sans-400-600-700);
        font-weight: 700;
        cursor: pointer;
    }
    #submit:hover{
        background-color: var(--light-pink);
    }
    .attribution a:hover{
        color: var(--light-pink);
    }

    .attribution{
        text-align: start;
    }

    

    
}

